html {
		background-color: #000;
		height: 100%;
		
}
body {
	color: #FFF !important;
	height: 100%;
	font-family: sans-serif;
	caret-color: transparent;
	background: rgb(0,0,0);
	background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0.3981967787114846) 100%);
}
.available{
	margin-left: 0!important;
	margin-right: 0!important;
	/*width: 40%;*/
	/*padding-left: 2%;
	padding-top: 2%;*/
}
		
.pick_info{
	margin-left: 0!important;
	margin-right: 0!important;
	clear:both;
}
		
img{
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	display: inline;
	width: 100px !important;
}

.img_holder_ban, .img_holder_pick{
	min-height:60px;
	display:block;
	border : 2px;
	width: 100px !important;
}
.img_holder_ban {
	border: 1px solid red;
	border-radius: 4px;
}
.img_holder_pick {
	border: 1px solid green;
	border-radius: 4px;
}
.radiant_ban, .radiant_pick {
	text-align: right;
}
#radiant_ban img, #dire_ban img,#radiant_pick img, #dire_pick img{
	display: block;
}
/*#radiant_ban img{
	float:right;
}
#dire_ban img{
	float:left;
}*/
.spacer {
	clear:both;
	padding-top: 25px;
}
		
.status{
	/*position: absolute;
	top: 10%;
	left: 50%;*/
}

.radiant_info{
	/*position: absolute;
	top: 20%;
	left: 50%;*/
}

.dire_info{
	/*position: absolute;
	top: 50%;
	left: 50%;*/
}

.modal{
	color:#000
}

.heroHighlight{
	position: absolute;
	top: 60%;
	left: 50%;
}

.highlight{
	opacity: 0.5;
}